<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Scrapper</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  >
</head>
<body>
  <main class="container">
    <hgroup>
      <h1>Something Wrong</h1>
    </hgroup>
    <div>
      <button onclick="window.history.back()">Go Back</button>
      <a href="/" role="button">Go Home</a>
    </div>
  </main>
</body>
</html>